.titleInput{
    border: none;
    border-bottom: 1px solid gray;
}
.titleInput:focus{
    outline: none;
    /* border:  1px solid gray; */
    box-shadow: none;
    /* border-bottom: 1px solid gray; */
}
.uploadedImg {
    width: 65vw;
    height: 45vh;
    border-radius: 10px;
    object-fit: cover;
}


[type="file"] {
      color: #878787;
}
[type="file"]::-webkit-file-upload-button {
    background: gray;
    border: 1px solid gray;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
[type="file"]::-webkit-file-upload-button:hover {
    background: rgb(95, 94, 94);
    border: 2px solid #535353;
    color: white;
}

@media screen and (max-width: 900px){
    .uploadedImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 662px){
    .uploadedImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}