.titleInput{
    border: none;
    border-bottom: 1px solid gray;
}
.titleInput:focus{
    outline: none;
    /* border:  1px solid gray; */
    box-shadow: none;
    /* border-bottom: 1px solid gray; */
}