:root{
    --color-bg: #dddddd;
}
.navbar_container{
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
}
.logo_container img{
    width: 6rem;
    height: 5rem;
    margin: 1rem 3rem;
}
.navbar_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4rem;
}
.navbar_links_item{
    padding: 0 1.5rem;
    font-size: 1.3rem;
    /* color: black; */
}
.navbar_links_item a{
    color: black;
    font-family: "Times New Roman", Times, serif;
    transition: all .2s ease;
}
.navbar_links_item a:hover{
    color: gray;
    border-bottom: 3px solid black;
}

.navbar_links_menu{
    display: none;
}