.post_image {
    overflow: hidden;
}
.post_image img{
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out;
}

.post_image:hover img {
    transform: scale(1.2);
}

.date_duration p{
    color: gray;
    font-size: 14px;
}
.news_title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #212529;
}
.full_description{
    color: gray;
    font-size: 15px;
}
.more_btn{
    padding: 5px 8px;
    border: none;
    background-color: rgb(167, 165, 165);
    border-radius: 1px;
}
.more_btn:hover{
    background-color: rgb(119, 118, 118);
    color: white;
}
/* .see_more{
    font-color: red;
} */